<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>こんにちは</p>
    <p>ご注文を承りましたことをお知らせいたします。</p>
    <p>商品が発送され次第、メールでお知らせいたします。</p>
    <p>ご注文の詳細は、以下のリンクをクリックしてください。</p>
    <p><%= @url %></p>
  </body>
</html>